/*** General ***/
html,
body {
  overflow: visible;
  color: #eee;
  background: #333;
}
a,
button,
tr,
select,
input,
label {
  -webkit-tap-highlight-color: transparent;
}
div input {
  margin: 0px;
}
select {
  width: auto;
}
.hiddenPath {
  display: none;
}
.table {
  margin-bottom: 0;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #282828;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top: 1px solid #555;
}
#torrentsList .table {
  table-layout: fixed;
}
.tableFixHead {
  overflow-y: auto;
  margin-bottom: 0;
  border: 0px solid #555;
}
.tableFixHead th {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #282828;
}
.icon-white {
  color: #428bca;
}
.icon-black {
  color: #428bca;
}
a:hover,
a:focus {
  color: #428bca;
  outline: none;
  text-decoration: none;
}
#mainContainer {
  background-color: #333;
  padding: 39px 3px 51px 3px;
  margin: 0;
}
.progress .progress-bar {
  white-space: nowrap;
  text-shadow: 1px 1px 3px #000;
}
h5,
#detailsTrackersPage a,
#detailsFilesPage a,
#detailsDetailsPage #label td,
.nav a,
#getDirList td {
  word-break: break-all;
}
#torrentsList #list span {
  font-size: 12px;
}
.label-info {
  float: right;
  font-size: 10px;
}

/*** navbar bottom ***/
.navbar .nav > li {
  float: left;
  margin-right: 15px;
}
.navbar .nav > li:last-child {
  margin-right: 0px;
}
.navbar .nav > li > a,
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  font-size: 14px;
  background-color: transparent;
  height: 50px;
}
.navbar .nav > li > div > span {
  position: relative;
  top: -3px;
  left: 3px;
  font-size: 70%;
  color: #eee;
  line-height: 0;
}
.navbar .nav > li > div > i {
  margin-top: 7px;
  margin-right: 2px;
}
.navbar .divider-vertical {
  height: 50px;
  margin: 0 15px 0 0;
  border-right: 1px solid #323232;
  border-left: 1px solid #111111;
}

/*** navtabs top ***/
.nav-tabs {
  background-color: #333;
  padding: 3px 3px 0 3px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #518ec2;
  background-color: #282828;
  border: 1px solid #337ab7;
}
.dropdown-menu {
  background-color: #333;
}
.dropdown-menu > li > a {
  color: #eee;
}
.dropdown-menu.pull-right {
  right: auto;
  left: auto;
}
.nav-tabs .dropdown-menu {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 200px !important;
}
.nav-tabs > li > a {
  border-radius: 8px 8px 0 0;
}
#torrentsList .nav {
  white-space: nowrap;
  font-size: 0;
}
#torrentsList .nav > li > a {
  margin-right: 1px;
  font-size: 14px;
}
#torrentsList .nav > li > a > span {
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#torrentsList .nav > li > a > .caret {
  position: relative;
  display: inline;
  top: 9px;
}
.nav-tabs .open .dropdown-toggle {
  color: #fff !important;
  background-color: #999 !important;
  border-color: #999 !important;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background-color: transparent;
  border-color: transparent;
}
.nav-tabs #sort {
  float: right;
}
.nav-tabs #sort #sortIcon i {
  color: #428bca;
}
.nav-tabs #refresh {
  float: right;
}
.nav-tabs #refresh #refreshIcon i {
  color: #428bca;
}
.form-control {
  color: #eee;
  background-color: #282828;
  border: 1px solid #555;
  border-radius: 8px;
}

/*** Torrent Details ***/
#torrentDetailsHeader,
#detailsTrackersPage,
#detailsFilesPage {
  padding-top: 9px;
  padding-left: 8px;
  padding-right: 8px;
}
#torrentDetails #detailsDetailsPage tr td:first-child {
  white-space: nowrap;
}
#torrentDetails #detailsDetailsPage tr td:last-child {
  word-break: break-all;
}
#torrentDetails #detailsDetailsPage #label input {
  display: inline;
  height: 24px;
  width: 139px;
  padding-top: 5px;
  vertical-align: middle;
}
#torrentDetails #detailsFilesPage > div {
  min-height: 24px;
}
#torrentDetails #detailsFilesPage > div a {
  display: block;
  padding-top: 4px;
  margin-bottom: 8px;
}
#torrentDetails #detailsFilesPage button {
  margin-left: 4px;
}
.btn-default {
  color: #eee;
  background-color: #333;
  border-color: #555;
}
.btn-default.active,
.btn-default:active,
.open > .dropdown-toggle.btn-default .btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.btn-default:hover,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
  color: #eee;
  background-color: #428bca;
  border-color: #555;
}
button,
input,
optgroup,
select,
textarea {
  background-color: #282828;
}
.panel-default > .panel-heading {
  background-color: #282828;
}
.panel-group .panel-heading + .panel-collapse > .list-group,
.panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: 0px solid #555;
  background: #333;
}
.panel-group .panel {
  border-radius: 8px;
  border: 2px solid #282828;
}

/*** Add Torrent ***/
#addTorrent {
  margin-top: -20px;
}
#addTorrent #showGetDir {
  height: 34px;
}

/*** Get Dir List ***/
#getDirList {
  margin-top: -20px;
}
#getDirList h5 {
  padding-left: 8px;
  padding-right: 8px;
}
#getDirList button {
  margin-left: 8px;
  margin-bottom: 15px;
}
#getDirList td {
  padding: 14px;
}

/*** Torrent Sort ***/
#torrentSort {
  margin-top: -20px;
}

/*** Global Settings ***/
#globalSettings {
  margin-top: -20px;
}

/*** Confirm Delete ***/
#confimTorrentDelete #confirmText {
  word-break: normal;
}
